body {
  display: grid;
  grid-template-rows: 50px calc(100vh - 50px);
  grid-template-columns: auto;
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  font-family: Consolas, monospace;
  font-size: 14px;
  line-height: 1.4;
  color: var(--string-color);
}

.header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  padding: 10px 30px 10px 20px;
  color: #ccc;
}

.buttons-left {
  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: 20px 115px;
  align-items: center;
  column-gap: 15px;
  justify-content: start;
}

.header > h2 {
  text-align: center;
  margin: 0;
  font-size: 20px;
  white-space: nowrap;
}

.buttons-right {
  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: repeat(2, 100px);
  column-gap: 15px;
  justify-content: end;
}

/* ___________________________UI________________________ */

.uploader {
  display: none;
  position: absolute;
  color: transparent;
  visibility: hidden;
}

.btn {
  transition: 0.3s;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 20px;
  border: none;
}

.btn:hover {
  background-color: rgba(204, 204, 204, 0.5);
}

.editor {
  padding: 20px;
  margin: 0 10px 10px 10px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  white-space: pre-wrap;
}

/* ___________________________SCROLL-BAR________________________ */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  width: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}

/* ___________________________BLOCKS________________________ */

.block {
  transition: 0.3s;
  border-radius: 10px;
}

.block:hover {
  border-radius: 15px;
  padding: 3px 5px;
}

.row {
  border-radius: 15px;
  padding: 0 5px;
  display: table;
}

.row-block {
  border-radius: 15px;
  padding: 0 5px;
  display: table;
  transition: 0.3s;
}

.row-block:hover {
  border-radius: 20px;
  padding: 5px 10px;
  background-color: var(--main-color);
  box-shadow: var(--shadow);
}

.sub-block {
  transition: 0.6s;
  border-radius: 15px;
  margin-left: 14px;
}

.sub-block:hover {
  padding: 5px;
  border-radius: 20px;
  background-color: var(--sub-color);
}

.main-block {
  background-color: var(--main-color);
  display: table;
  transition: 0.3s;
  border-radius: 15px;
}

.main-block:hover {
  border-radius: 20px;
  padding: 5px;
  background-color: var(--main-color);
  box-shadow: var(--shadow);
}

/* ___________________________COLORS and SHADOWS________________________ */

.ash-string {
  color: #eeffff;
}

.ash-shadow:hover {
  border: 1px solid #eeffff;
  box-shadow: 0 0 12px #eeffff;
}

.red-string {
  color: #f07178;
}

.red-shadow:hover {
  border: 1px solid #f07178;
  box-shadow: 0 0 12px #f07178;
}

.strong-orange-string {
  color: #f78c6a;
}

.strong-orange-shadow:hover {
  border: 1px solid #f78c6a;
  box-shadow: 0 0 12px #f78c6a;
}

.orange-string {
  color: #ffcb6b;
}

.orange-shadow:hover {
  border: 1px solid #ffcb6b;
  box-shadow: 0 0 12px #ffcb6b;
}

.blue-string {
  color: #82aaff;
}

.blue-shadow:hover {
  border: 1px solid #82aaff;
  box-shadow: 0 0 12px #82aaff;
}

.purple-string {
  color: #c792ea;
}

.purple-shadow:hover {
  border: 1px solid #c792ea;
  box-shadow: 0 0 12px #c792ea;
}

.cyan-string {
  color: #89ddf3;
}

.cyan-shadow:hover {
  border: 1px solid #89ddf3;
  box-shadow: 0 0 4px #89ddf3;
}

.green-string {
  color: #c3e88d;
}

.green-shadow:hover {
  border: 1px solid #c3e88d;
  box-shadow: 0 0 12px #c3e88d;
}

.gray-string {
  color: #373b41;
  color: rgba(255, 255, 255, 0.3);
}

.gray-shadow:hover {
  border: 1px solid #373b41;
  box-shadow: 0 0 12px #373b41;
}

.white-string {
  color: var(--string-color);
}

.white-shadow:hover {
  border: 1px solid var(--string-color);
  box-shadow: var(--string-shadow);
}
