/* ___________________________VERTEX________________________ */

.vertex {
  padding: 5px;
  border-radius: 5px;
}

.vertex:hover {
  padding: 10px;
  border-radius: 10px;
  margin: 0;
}

.func {
  background-color: rgba(199, 146, 234, 1);
}

.vari {
  background-color: rgba(255, 255, 255, 1);
}

.comp {
  background-color: rgba(255, 203, 107, 1);
}

.v2:hover {
  margin-right: -5px;
}

.v1:hover {
  margin-left: -5px;
}
/* ___________________________BLOCKS________________________ */

.block {
  transition: 0.3s;
  border-radius: 10px;
}

.block:hover {
  border-radius: 15px;
  padding: 3px 5px;
}

.row {
  border-radius: 15px;
  padding: 0 5px;
  display: table;
}

.row-block {
  border-radius: 15px;
  padding: 0 5px;
  display: table;
  transition: 0.3s;
}

.row-block:hover {
  border-radius: 20px;
  padding: 5px 10px;
  background-color: var(--main-color);
  box-shadow: var(--shadow);
}

.sub-block {
  transition: 0.6s;
  border-radius: 15px;
  margin-left: 14px;
}

.sub-block:hover {
  padding: 5px;
  border-radius: 20px;
  background-color: var(--sub-color);
}

.main-block {
  background-color: var(--main-color);
  display: table;
  transition: 0.3s;
  border-radius: 15px;
}

.main-block:hover {
  border-radius: 20px;
  padding: 5px;
  background-color: var(--main-color);
  box-shadow: var(--shadow);
}

.main-parent {
  white-space: nowrap;
}

/* ___________________________COLORS and SHADOWS________________________ */

.ash-string {
  color: #eeffff;
}

.ash-shadow:hover {
  border: 1px solid #eeffff;
  box-shadow: 0 0 12px #eeffff;
}

.red-string {
  color: #f07178;
}

.red-shadow:hover {
  border: 1px solid #f07178;
  box-shadow: 0 0 12px #f07178;
}

.strong-orange-string {
  color: #f78c6a;
}

.strong-orange-shadow:hover {
  border: 1px solid #f78c6a;
  box-shadow: 0 0 12px #f78c6a;
}

.orange-string {
  color: #ffcb6b;
}

.orange-shadow:hover {
  border: 1px solid #ffcb6b;
  box-shadow: 0 0 12px #ffcb6b;
}

.blue-string {
  color: #82aaff;
}

.blue-shadow:hover {
  border: 1px solid #82aaff;
  box-shadow: 0 0 12px #82aaff;
}

.purple-string {
  color: #c792ea;
}

.purple-shadow:hover {
  border: 1px solid #c792ea;
  box-shadow: 0 0 12px #c792ea;
}

.cyan-string {
  color: #89ddf3;
}

.cyan-shadow:hover {
  border: 1px solid #89ddf3;
  box-shadow: 0 0 4px #89ddf3;
}

.green-string {
  color: #c3e88d;
}

.green-shadow:hover {
  border: 1px solid #c3e88d;
  box-shadow: 0 0 12px #c3e88d;
}

.gray-string {
  color: #373b41;
  color: rgba(255, 255, 255, 0.3);
}

.gray-shadow:hover {
  border: 1px solid #373b41;
  box-shadow: 0 0 12px #373b41;
}

.white-string {
  color: var(--string-color);
}

.white-shadow:hover {
  border: 1px solid var(--string-color);
  box-shadow: var(--string-shadow);
}
